* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap");

body {
  background-color: hsl(30, 38%, 92%);
}

main {
  display: flex;
  border: 1px solid red;
  margin-left: 30%;
  margin-top: 150px;
  height: fit-content;
  width: 50%;
}

.image {
  border: 1px solid green;
  width: fit-content;
}
