* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap");

html {
  background-color: hsl(30, 38%, 92%);
}

body {
  border: 1px solid red;
  margin-left: 30%;
  margin-top: 150px;
  display: flex;
  width: 50%;
  height: 500px;
  border-radius: 20px;
}

.image {
  display: flex;
  justify-content: left;
  width: 50%;
  height: 500px;
  overflow: hidden;
}
